body{
    font-family: "Roboto Slab";
    background-color: #3A586E;
    color: #F5A127;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Oleo Script";
    text-align: center;
}

h1{ 
    font-size: 50pt;
}

header{
    text-align: center;
}

#hero, footer{
    border: 2px solid #433B2F;
    background-color: #3178AD;
    text-align: center;
}
/*Hero Section*/
#hero img{
    width: 300px;
}

/*Bio Section*/
#bio{
    text-align: center;
}

/*Hobbies*/
div.container{
    text-align: center;
  }

ul.HobbyList{
    display: inline-block;
    text-align: left;
    border: 5px solid #433B2F;
    background-color: #3178AD;
    padding: 25px;
    list-style-type: square;
  }

  /*Gallery*/

  #gallery {
    border: 5px solid #433B2F;
  }

  #gallery img{
    max-width: 100%;
  }

  #gallery figure {
    text-align: center;
  }

  #gallery figcaption{
    border: 3px solid #433B2F;
    padding: 5px;
    background-color: #3178AD;
  }

  /*Literature*/
  #lit {
    border: 2px solid #433B2F;
    margin-top: 2rem;
  }

  #lit div {
    padding: 2rem;
    max-width: 40rem;
    margin: 0 auto;
  }

  #lit div p {
    padding: 0.5rem 0;
  }

  #lit div p:nth-child(odd):first-letter{
    color: #F5A127;
    float: left;
    font-size: 2em;
    font-family: 'Alex Brush';
    padding: .25em;
    line-height: .65;
    border: 3px solid #433B2F;
  }