body{
    font-family: "Roboto Slab";
    background-color: #3A586E;
    color: #ffbf62;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Oleo Script";
    text-align: center;
}

h1{ 
    font-size: 50pt;
}

header{
    text-align: center;
}

#hero, footer{
    border: 2px solid #433B2F;
    background-color: #062c49;
    text-align: center;
}
/*Hero Section*/
#hero img{
    width: 300px;
}

/*Styling for bio section*/
#bio{
    text-align: center;
}

h2{
  margin: .1em;
  font-size: 3em;
}

/*Styling for hobbies section*/
div.container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

ul.HobbyList{
    display: inline-block;
    border: 5px solid #433B2F;
    background-color: #062c49;
    padding: 25px;
    list-style-type: square;
  }

  /*Styling for gallery section*/
  #gallery {
    border: 5px solid #433B2F;
  }

  #gallery figure:hover, #gallery figure:focus {
    filter: invert(1);
    border-radius: 10px;
    outline: none;
  }

  #gallery img{
    max-width: 100%;
  }

  #gallery figure {
    text-align: center;
  }

  #gallery figcaption{
    border: 3px solid #433B2F;
    padding: 5px;
    background-color: #062c49;
  }

  #video{
    text-align: center;
    background-color: #062c49;
  }

  /*Styling for the blog article*/
  #lit {
    border: 2px solid #433B2F;
    margin-top: 2rem;
  }

  #lit div {
    padding: 2rem;
    max-width: 40rem;
    margin: 0 auto;
  }

  #lit div p {
    padding: 0.5rem 0;
  }

  #lit div p:first-child:first-letter{
    color: #ffbf62;
    float: left;
    font-size: 2em;
    font-family: 'Alex Brush';
    padding: .25em;
    line-height: .65;
    border: 3px solid #433B2F;
  }

/* Styling for tablet size */
  @media screen and (min-width: 60em){
    figure{
      display: grid;
      grid-template-columns: 2fr 1fr;
    }

    figcaption{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      margin-left: 1rem;
    }

    figure img{
      width: 100%;
    }

    #lit div{
      max-width: 100%;
      columns: 20rem;
    }
  }

  /* Styling for computer size */
  @media screen and (min-width: 100em){
    #gallery{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    hr {
      display: none;
    }

    #gallery h2{
      grid-column: 1/ -1;
    }

    figure{
      display: block;
    }
  }

  /*Styling for the contact form*/
  #formElements{
    display: grid;
    row-gap: 1em;
  }

  #contact{
    padding: 1rem;
    max-width: 600px;
    margin: 2rem auto;
  }

  fieldset{
    border: 2px solid #433B2F;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  legend {
    background-color: #062c49;
  }

  #contact input, #contact textarea, #contact select, #contact button{
    padding: .5em;
    font-size: 1rem;
  }

  #contact textarea, #contact select{
    box-shadow: 5px 5px 8px #3178AD, 8px 8px 8px #ffbf62;
  }
#name, #email, #phone{
  box-shadow: 5px 5px 8px #3178AD, 8px 8px 8px #ffbf62;
}
  #contact ul{
    list-style: none;
    padding: 0px;
  }

  #contact li{
    margin: 1rem;
  }

  #contact button{
    background-color: #062c49;
    color: white;
    border: 1px solid #433B2F;
    max-width: 400px;
    width: 50%;
    justify-self: center;
    box-shadow: 3px 3px #888888;
  }